body,
html {
  background-color: #ffcc33;
  align-content: center;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.logo {
  font-family: "Concert One", cursive;
  text-align: center;
  color: rgb(235, 92, 71);
  font-size: 2rem;
  width: 90%;
  margin: auto;
}

.logo h1{
  margin-top: 15px;
  margin-bottom: 10px;
}

.page_title {
  font-family: "Concert One", cursive;
  text-align: center;
  font-size: 1.5rem;
  color: rgb(235, 92, 71);
  width: 90%;
  margin:auto;
}

.page_title h2{
  margin-top: 0;
  margin-bottom: 20px;
}

.wrapper{
  font-family: "Ubuntu", sans-serif;
  max-width: 300px;
  margin: auto;
  align-content: center;
  border: 3px solid rgb(235, 92, 71);
  padding: 10px;
}

.forms label{
  display: block;
  max-width: 500px;
  padding: 0.7rem 0.25rem .25rem;
  font-weight: bold;
  
}

.forms input{
display: block;
width: 90%;
padding: .5rem;
border-radius: 5px;
font-size: 1.2rem;
border: 2px solid  rgb(235, 92, 71);
margin: auto;
}

.login_button {
width: 100%;
font-family: "Concert One", cursive;
border-radius: 7px;
font-size: 20px;
text-align: center;
background-color: rgb(235, 92, 71);
border: none;
color: rgb(0, 0, 0);
padding: 10px 10px;
margin: 4px 2px;
cursor: pointer;
}