<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<meta charset="UTF-8">
<title>Registry succeeded!</title>
<script src="https://kit.fontawesome.com/80c816529f.js" crossorigin="anonymous"></script>
<link rel="stylesheet" th:href="@{/css/add_style.css}"/>
<!-- <link rel="stylesheet" href="/../static/css/add_style.css" /> -->
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Concert+One&display=swap" rel="stylesheet">

<style>
    .wrapper1{
        font-family: "Ubuntu", sans-serif;
        max-width: 300px;
        margin: auto;
        align-content: center;
        margin-top: 40px;
        padding: 10px;
    }

</style>


</head>

<body>

<div class="logo">
    <h1>BEEHIVE MANAGER <i class="fas fa-archive"></i></h1>
</div>

<div class="page_title">
    <h2>Registry succeeded!</h2>
</div>
<div class="wrapper1">
    <a href="/index">
        <button class="add_button" type="submit">HOME</button>
    </a>
</div>



</body>

</html>